<div class="container-fluid">
    <app-sidebar></app-sidebar>
    <div class="container">
        <div class="container-logo"></div>
        <div class="container-ajuda">
            <h1>Sobre o objetivo:<br>
                Esta é uma plataforma para gerenciamento dos QR Codes dos alunos,<br> estes Qr Codes são usados para a
                entrada na escola.</h1>
            <h3>Sobre a plataforma:<li>Cadastrar, editar e excluir dados dos alunos acesse “Turmas”.</li>
                <li>
                    Histórico dos seus passos dentro do site, acesse “Histórico”.</li>
                <li>
                    Acessar registros dos QR Codes ao entrar na escola, acesse “Registros”.</li>
                <li>Dúvidas sobre a plataforma e afins, mande seu problema em “Suporte”.</li>
            </h3>
        </div>
    </div>
</div>