<div class="container">
    <div class="logo"></div>
    <button type="button" class="btn btn-secondary rounded" (click)="home()">Turmas</button>
    <div class="help">
        <button type="button " class="btn btn-light help-button" (click)="ajuda()"><i class="fa-regular fa-circle-question " ></i> &nbsp;   &nbsp; Ajuda</button>
    </div>
    <div class="historico">
        <button type="button " class="btn btn-light historico-button" (click)="historico()"><i class="fa-solid fa-clock-rotate-left" ></i> &nbsp;   &nbsp; Histórico</button>
    </div>
    <div class="registro">
        <button type="button " class="btn btn-light registro-button" (click)="registro()"><i class="fa-solid fa-cash-register" ></i> &nbsp;   &nbsp; Registro</button>
    </div>
    <div class="suporte">
        <button type="button " class="btn btn-light suporte-button" (click)="suporte()"><i class="fa-regular fa-comment-dots"></i>&nbsp;   &nbsp; Suporte</button>
    </div>
</div>