<div class="container-fluid">
    <div class="container-login">
        <p>Login</p>
        <form [formGroup]="formLogin">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                </div>
                <input type="text" class="form-control rounded" placeholder="Usuário" aria-label="Username"
                    formControlName="usuario" aria-describedby="basic-addon1">
            </div>

            <div class="input-group password">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                </div>
                <input type="password" class="form-control rounded" placeholder="Senha" aria-label="Senha"
                    formControlName="senha" aria-describedby="basic-addon1">
            </div>

        </form>

        <button type="button" class="btn btn-primary rounded" (click)="buscaLogin()">Entrar</button>
    </div>

</div>