<div class="container">
    <h3>Bem-vindo(a) #Nome</h3>
    <div class="row justify-content-around">
        <div class="col-4 mt-5">
            <button type="button" class="btn btn-light btn-lg btn-block">Novo Cadastro</button>
        </div>
    </div>
    
    <div class="row justify-content-around">
        <div class="col-4 mt-5">
            <button type="button" class="btn btn-light btn-lg btn-block">Editar Cadastro</button>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-4 mt-5">
            <button type="button" class="btn btn-light btn-lg btn-block">Historico</button>
        </div>
    </div>


</div>
<div class="container2">
    <div class="row"><label></label></div>
    <img src=" ../../../assets/controlpd.svg">
</div>